#tracklist-container
    .tracklist-error
        text-align: center
        padding: 15px
        font-size: 13px
        color: rgba(white, .4)

    .track-container
        overflow: hidden
        margin: 0 3px 0 3px
        width: 225px
        height: 42px
        float: left
        padding: 5px
        &:hover
            cursor: pointer
            background: rgba(white, .03)
            border-radius: 3px
        &.playing
            cursor: pointer
            background: rgba(white, .03)
            border-radius: 3px
        .cover
            float: left
            background-image: url(../images/cover_default_large.png)
            background-size: 42px
            width: 42px
            height: 42px
            border-radius: 2px
            +text-shadow(rgba(black, .8) 0px 1px 1px)
        .info
            width: calc(100% - 53px)
            float: left
            padding: 4px
            margin-left: 3px
            +text-shadow(rgba(black, .8) 0px 1px 1px)
            .title
                font-size: 14px
                color: #ddd
                white-space: nowrap
                text-overflow: ellipsis
                overflow: hidden
                height: 15px
            .artist
                font-size: 13px
                margin-top: 5px
                color: #999
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                height: 14px

        &.playingXXX
            background: #18b0ff
            &:hover
                cursor: default
                background: #18b0ff
